@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body {
    background: #f8f8f8;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.custom-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 5px;
}

.custom-field input {
    padding: 12px;
    width: 300px;
    font-size: 14px;
    border-radius: 3px;
    border: 1.5px solid gray;
    outline-color: deepskyblue;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 21px;
    font-size: 10px;
    color: #222;
    padding: 5px;
    background: white;
}

.message {
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: steelblue;
}

.success {
    font-size: 18px;
    margin-top: 15px;
    color: seagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.key {
    margin-right: 10px;
}

.value {
    margin-left: 10px;
}

.myBtn {
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    border-color: #b23cfd;
    background: #b23cfd;
    color: white;
    margin-left: 20px;
    padding: 5px;
}

:root {
    --home-bg-color: #f2f3ee;
    --menu-bg-color: #cbcbc2;
    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --text-color: #616161;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
}

body,
html {
    width: 100%;
    font-size: 10px;
    color: var(--text-color);
    font-weight: normal;
    font-family: sans-serif;
    background-color: var(--home-bg-color);
}

#ham-menu {
    display: none;
}
label[for='ham-menu'] {
    display: block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 15px;
    border: 2px solid var(--border-color);
}
.ham-menu {
    width: 50vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: var(--lightest-green);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .ham-menu > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
} */
.ham-menu > ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

/* .ham-menu > ul > li {
    font-size: 3rem;
    white-space: nowrap;
    cursor: pointer;
    color: steelblue;
} */
.ham-menu > ul > li {
    margin: 15px 0;
}
/* .ham-menu > ul > li > a {
    text-decoration: none;
    color: steelblue;
} */
.ham-menu > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 50px;
    line-height: 50px;
    position: relative;
    transition: all 0.3s ease;
}
.ham-menu > ul > li > a:after {
    content: '';
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
    background: #fff;
    z-index: -1;
    border-radius: 50px;
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.ham-menu > ul > li > a:hover:after {
    transform: scaleY(1);
}

.ham-menu > ul > li > a:hover {
    color: #b23cfd;
}

.extra {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 50px;
    line-height: 50px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

.extra:after {
    content: '';
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
    background: #fff;
    z-index: -1;
    border-radius: 50px;
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.extra:hover:after {
    transform: scaleY(1);
}
.extra:hover {
    color: #b23cfd;
}

#ham-menu:checked + label {
    background-color: transparent;
    border-color: var(--dark-green);
}
#ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
}
.full-page-green {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
    top: 0;
    left: 0;
}
#ham-menu:checked ~ div.full-page-green {
    display: block;
    opacity: 1;
    visibility: visible;
}
[for='ham-menu'] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}
.menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--border-color);
    transition: 500ms;
    transform-origin: right center;
}
[for='ham-menu'] > div > span:nth-child(4),
[for='ham-menu'] > div > span:nth-child(5),
[for='ham-menu'] > div > span:nth-child(6) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform-origin: left center;
}
#ham-menu:checked + label span {
    background-color: var(--dark-green);
}
#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
}
#ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}
#ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
}
p {
    display: inline;
    font-size: 1.8rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: 'OpenSansCondensed-Light';
}
.text {
    font-size: 2.5rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: 'OpenSansCondensed-Bold', sans-serif;
}
.title {
    font-size: 3rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: 'OpenSansCondensed-Bold', sans-serif;
    color: var(--icon-hover-bg);
    padding: 10px;
}
.heading {
    font-size: 6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: 'Patua One';
}
.centre-text {
    text-align: center;
}
.bold-text {
    font-weight: bold;
}
